.input {
    padding: 10px;
    outline: none;
    border: 2px solid #46CBFA;
    border-radius: 8px;
}

.small{
    width: 200px;
    height: 25px;
    font-size: 18px;
}

.medium {
    width: 500px;
    height: 40px;
    font-size: 26px;
}

.large {
    width: 90%;
    height: 80px;
    font-size: 40px;
}